/* BASIC STYLES HERE */
.car-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

/* TODO Make note of this */
.house-design {
  height: 16rem; 
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.car-border {
  border: 3px solid;
}

label {
  display: block;
}

textarea {
  resize: none;
}